// Buttons
.btn {
  box-shadow: Rs.z-depth-1;
  @include button-size(
    Rs.btn-padding-y-basic,
    Rs.btn-padding-x-basic,
    Rs.btn-font-size-basic
  );
  transition: Rs.btn-transition;
  margin: Rs.btn-margin-basic;
  border: 0;
  border-radius: Rs.border-radius-base;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: inherit;
  &:hover,
  &:active,
  &:focus {
    box-shadow: Rs.z-depth-1-half;
    outline: 0;
  }
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    box-shadow: Rs.z-depth-1-half;
  }
  .fas,
  .fab,
  .far {
    position: relative;
    font-size: Rs.btn-icon-basic;
    &.right {
      margin-left: Rs.btn-icon-margin;
    }
    &.left {
      margin-right: Rs.btn-icon-margin;
    }
  }
  &.btn-lg {
    @include button-size(
      Rs.btn-padding-y-large,
      Rs.btn-padding-x-large,
      Rs.btn-font-size-large
    );
    .fas,
    .fab,
    .far {
      font-size: Rs.btn-icon-large;
    }
  }
  &.btn-md {
    @include button-size(
      Rs.btn-padding-y-medium,
      Rs.btn-padding-x-medium,
      Rs.btn-font-size-medium
    );
    .fas,
    .fab,
    .far {
      font-size: Rs.btn-icon-medium;
    }
  }
  &.btn-sm {
    @include button-size(
      Rs.btn-padding-y-small,
      Rs.btn-padding-x-small,
      Rs.btn-font-size-small
    );
    .fas,
    .fab,
    .far {
      font-size: Rs.btn-icon-small;
    }
  }
  &.btn-tb {
    padding: Rs.btn-tb-padding-y Rs.btn-tb-padding-x;
  }
  &.disabled,
  &:disabled {
    &:active,
    &:focus,
    &:hover {
      box-shadow: Rs.z-depth-1;
    }
  }
  &.btn-block {
    margin: inherit;
  }
  &.btn-link {
    @extend .black-text;
    box-shadow: none;
    background-color: transparent;
    &:active,
    &:focus,
    &:hover {
      box-shadow: none !important;
      background-color: transparent;
    }
  }
  &[class*="btn-outline-"] {
    padding-top: Rs.btn-outline-padding-y-basic;
    padding-bottom: Rs.btn-outline-padding-y-basic;
    &.btn-lg {
      padding-top: Rs.btn-outline-padding-y-large;
      padding-bottom: Rs.btn-outline-padding-y-large;
    }
    &.btn-md {
      padding-top: Rs.btn-outline-padding-y-medium;
      padding-bottom: Rs.btn-outline-padding-y-medium;
    }
    &.btn-sm {
      padding-top: Rs.btn-outline-padding-y-small;
      padding-bottom: Rs.btn-outline-padding-y-small;
    }
  }
}
.btn-group {
  .btn {
    margin: 0;
  }
}
// Overwrite default button icon size
.btn,
.btn-floating {
  .fa-lg {
    font-size: 1.33333em !important;
  }

  .fa-xs {
    font-size: 0.75em !important;
  }

  .fa-sm {
    font-size: 0.875em !important;
  }

  .fa-1x {
    font-size: 1em !important;
  }

  .fa-2x {
    font-size: 2em !important;
  }

  .fa-3x {
    font-size: 3em !important;
  }

  .fa-4x {
    font-size: 4em !important;
  }

  .fa-5x {
    font-size: 5em !important;
  }

  .fa-6x {
    font-size: 6em !important;
  }

  .fa-7x {
    font-size: 7em !important;
  }

  .fa-8x {
    font-size: 8em !important;
  }

  .fa-9x {
    font-size: 9em !important;
  }

  .fa-10x {
    font-size: 10em !important;
  }
}
@each Rs.btn_name, Rs.color_value in Rs.mdb-colors {
  @include make-button(Rs.btn_name, Rs.color_value);
  @include make-outline-button(Rs.btn_name, Rs.color_value);
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  color: Rs.white-base;
}
