// Navbars
.navbar {
  box-shadow: Rs.z-depth-1;
  font-weight: Rs.navbar-font-weight;
  form {
    .md-form {
      input {
        margin: 0 Rs.navbar-form-input-mr Rs.navbar-form-input-mb
          Rs.navbar-form-input-ml;
      }
    }
  }
  .breadcrumb {
    margin: 0;
    padding: Rs.navbar-breadcrumb-padding-top 0 0
      Rs.navbar-breadcrumb-padding-left;
    background-color: inherit;
    font-size: Rs.navbar-double-font-size;
    font-weight: Rs.navbar-font-weight;
    .breadcrumb-item {
      color: Rs.white-base;
      &.active {
        color: Rs.navbar-breadcrumb-color;
      }
      &:before {
        color: Rs.navbar-breadcrumb-color;
      }
    }
  }
  .navbar-toggler {
    outline: 0;
    border-width: 0;
  }
  .nav-flex-icons {
    flex-direction: row;
  }
  .container {
    @media (max-width: Rs.medium-screen) {
      width: 100%;
      .navbar-toggler-right {
        right: 0;
      }
    }
  }
  .nav-item {
    .nav-link {
      display: block;
      &.disabled {
        &:active {
          pointer-events: none;
        }
      }
      .fas,
      .fab,
      .far {
        padding-right: Rs.navbar-flex-icons-padding-lg;
        padding-left: Rs.navbar-flex-icons-padding-lg;
      }
      @media (max-width: Rs.medium-screen) {
        padding-right: Rs.navbar-flex-icons-padding-md;
        padding-left: Rs.navbar-flex-icons-padding-md;
      }
    }
  }
  .dropdown-menu {
    position: absolute !important;
    margin-top: 0;
    a {
      padding: Rs.navbar-dropdown-menu-padding;
      font-size: Rs.navbar-dropdown-font-size;
      font-weight: Rs.navbar-font-weight;
      color: Rs.black;
    }
    form {
      @media (max-width: Rs.small-screen) {
        width: 17rem;
      }
      @media (min-width: Rs.small-screen) {
        width: 22rem;
      }
    }
  }
  &.navbar-light {
    @include make-navbar(
      Rs.navbar-light-disabled-color,
      Rs.navbar-light-toggler-icon,
      Rs.black,
      Rs.navbar-light-hover-color,
      Rs.navbar-light-bg-active-color
    );
  }
  &.navbar-dark {
    @include make-navbar(
      Rs.navbar-dark-disabled-color,
      Rs.navbar-dark-toggler-icon,
      Rs.white,
      Rs.navbar-dark-hover-color,
      Rs.navbar-dark-bg-active-color
    );
  }
  &.scrolling-navbar {
    @media (min-width: Rs.small-screen) {
      transition: Rs.navbar-scrolling-transition;
      padding-top: Rs.navbar-scrolling-padding;
      padding-bottom: Rs.navbar-scrolling-padding;
      .navbar-nav > li {
        transition-duration: Rs.navbar-scrolling-transition-duration;
      }
      &.top-nav-collapse {
        padding-top: Rs.navbar-top-collapse-padding;
        padding-bottom: Rs.navbar-top-collapse-padding;
      }
    }
  }
}
