// Badges
.badge {
  box-shadow: Rs.z-depth-1;
  border-radius: Rs.border-radius-base;
  color: Rs.white !important;
}
.badge-pill {
  border-radius: Rs.badge-pill-border-radius;
  padding-right: Rs.badge-pill-padding-x;
  padding-left: Rs.badge-pill-padding-x;
}
@each Rs.name, Rs.color in Rs.basic-mdb-colors {
  @include make-badge(Rs.name, Rs.color);
}
