// Pagination
.pagination {
  .page-item {
    &.active {
      .page-link {
        box-shadow: Rs.z-depth-1;
        transition: Rs.pagination-active-transition;
        border-radius: Rs.border-radius-base;
        background-color: Rs.primary-color;
        color: Rs.white-base;
        &:hover {
          background-color: Rs.primary-color;
        }
      }
    }
    &.disabled {
      .page-link {
        color: Rs.pagination-page-item-disabled-color;
      }
    }
    .page-link {
      transition: Rs.pagination-page-link-transition;
      outline: 0;
      border: 0;
      background-color: transparent;
      font-size: Rs.pagination-page-link-font-size;
      color: Rs.pagination-page-link-color;
      &:hover {
        transition: Rs.pagination-page-link-transition;
        border-radius: Rs.border-radius-base;
        background-color: Rs.pagination-page-link-hover-bg-color;
      }
      &:focus {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
  &.pagination-lg {
    .page-item {
      .page-link {
        font-size: Rs.pagination-page-link-font-size-lg;
      }
    }
  }
  &.pagination-sm {
    .page-item {
      .page-link {
        font-size: Rs.pagination-page-link-font-size-sm;
      }
    }
  }
  &.pagination-circle {
    .page-item {
      .page-link {
        margin-left: Rs.pagination-circle-margin-x;
        margin-right: Rs.pagination-circle-margin-x;
        border-radius: Rs.pagination-circle-border-radius;
        &:hover {
          border-radius: Rs.pagination-circle-border-radius;
        }
      }
      &.active {
        .page-link {
          border-radius: Rs.pagination-circle-border-radius;
        }
      }
    }
  }
  @each Rs.name, Rs.color in Rs.pagination-colors {
    &.pg-#{Rs.name} {
      .page-item {
        &.active {
          .page-link {
            background-color: Rs.color;
            &:hover {
              background-color: Rs.color;
            }
          }
        }
      }
    }
  }
}
