// Globals
// Full palette of colors
@each Rs.color_name, Rs.color in Rs.mdb-colors-1 {
  @each Rs.color_type, Rs.color_value in Rs.color {
    @if Rs.color_type == "base" {
      .#{Rs.color_name} {
        background-color: Rs.color_value !important;
      }
      .#{Rs.color_name}-text {
        color: Rs.color-value !important;
      }
      .rgba-#{Rs.color_name}-slight,
      .rgba-#{Rs.color_name}-slight:after {
        background-color: rgba(Rs.color_value, 0.1);
      }
      .rgba-#{Rs.color_name}-light,
      .rgba-#{Rs.color_name}-light:after {
        background-color: rgba(Rs.color_value, 0.3);
      }
      .rgba-#{Rs.color_name}-strong,
      .rgba-#{Rs.color_name}-strong:after {
        background-color: rgba(Rs.color_value, 0.7);
      }
    } @else {
      @if Rs.enable_full_palette {
        .#{Rs.color_name}.#{Rs.color_type} {
          background-color: Rs.color_value !important;
        }
      }
    }
  }
}

// Stylish color
@each Rs.color_name, Rs.color_value in Rs.stylish-rgba {
  .#{Rs.color_name} {
    background-color: Rs.color_value;
  }
}

// Material colors palette
@each Rs.color_name, Rs.color in Rs.material-colors {
  .#{Rs.color_name} {
    background-color: Rs.color !important;
  }
}

// Basic gradients
@each Rs.name, Rs.val in Rs.gradients {
  @include make-gradient(Rs.name, Rs.val);
}
@each Rs.name, Rs.val in Rs.gradients-rgba {
  @include make-gradient-rgba(Rs.name, Rs.val);
}

.dark-grey-text {
  color: #4f4f4f !important;
  &:hover,
  &:focus {
    color: #4f4f4f !important;
  }
}

// Shadow on hover
.hoverable {
  box-shadow: none;
  transition: Rs.transition-hoverable;
  &:hover {
    box-shadow: Rs.z-depth-2;
    transition: Rs.transition-hoverable;
  }
}

// Shadows
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1 {
  box-shadow: Rs.z-depth-1 !important;
}
.z-depth-1-half {
  box-shadow: Rs.z-depth-1-half !important;
}
.z-depth-2 {
  box-shadow: Rs.z-depth-2 !important;
}
.z-depth-3 {
  box-shadow: Rs.z-depth-3 !important;
}
.z-depth-4 {
  box-shadow: Rs.z-depth-4 !important;
}
.z-depth-5 {
  box-shadow: Rs.z-depth-5 !important;
}

// Disabled cursor
.disabled,
:disabled {
  pointer-events: none !important;
}

// Links
a {
  cursor: pointer;
  text-decoration: none;
  color: Rs.link-color;
  transition: Rs.transition-basic;
  &:hover {
    text-decoration: none;
    color: Rs.link-hover-color;
    transition: Rs.transition-basic;
  }
  &.disabled,
  &:disabled {
    &:hover {
      color: Rs.link-color;
    }
  }
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
